-#  This file is app/views/movies/index.html.haml
%h1 All Movies

-#= hidden_field_tag "title_sort", true if @title_header
= form_tag movies_path, :method => :get, :id => 'ratings_form' do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @selected_ratings.include?(rating)
  = submit_tag 'Submit', :id => 'ratings_submit'

-#%p rating check boxes selected (ratingselection)
-#%p= @ratingselection.inspect 
-#%p all ratings in the database --> This works
-#%p= @all_ratings.inspect  

-#%p sortorder
-#%p= @sortorder
-#%p= @okan
-#%p sort information kept in the session (my_session_sort)
-#%p= @my_session_sort.inspect  
-#%p sort information kept in the params (my_params_sort)
-#%p= @my_params_sort = params[:sort]
-#%p rating information kept in the session (my_session_rating)
-#%p= @my_session_rating.inspect   
-#%p rating information in the params (my_params_rating)
-#%p= @my_params_rating
-#%p= @checked_ratings


%table#movies
  %thead
    %tr
      -#%th= link_to "Movie Title", movies_path(@movies)
      
      -#%th{:class => @title_header}= link_to 'Movie Title', movies_path(:sort => 'title'), :id => 'title_header'
      
      %th{:class => @title_header}= link_to 'Movie Title', movies_path(:sort => 'title'), :id => 'title_header'
      %th Rating
      %th{:class => @release_date_header}= link_to 'Release Date', movies_path(:sort => 'release_date'), :id => 'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path


